*, ::after, ::before {
  box-sizing: border-box;
}
.bg-darkblue {
    background-color: #287784 !important;
}

.color-darkblue {
    color: #287784 !important;
}
.color-white {
    color: white !important;
}

.float-right {
    float: right;
}
.height-20 {
    height: 20%;
}

.font-medium {
    font-size: medium;
}

.font-large {
    font-size: large;
}

.font-larger {
    font-size: larger;
}

.text-align-center {
    text-align: center;
}
.button-theme {
    background-color: #96c4d1 !important;
    color: #fff !important;
    border: none !important;
    border: none !important;
    border-radius: 10px !important;
    padding: 15px !important;
    min-height: 30px !important;
    min-width: 120px !important;
  }
#table{
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width:40%;
}
.button-theme:hover {
    transition: 0.9s;
    background-color:#287784 !important;
}

.a-tag {
    color: white !important;
    text-decoration: none !important ;
}
.skills-container {
    width: 80%; 
    background-color: #ddd; 
    border-radius: 10px;
    float: left;
  }
  
  .skills-bar {
    text-align: right; 
    padding-top: 5px; 
    padding-bottom: 5px; 
    color: white; 
  }
  
  .fill-90 {
    width: 90%;
} /* Green */
  .bg-green {background-color: #04AA6D !important;}
  
  .fill-80 {width: 80%} 
  .bg-blue {background-color: #287784 !important;}

  .bg-pink1 {background-color: #6b1571 !important;}
  .bg-orange {background-color: #b44408 !important;}
  .bg-yellow {
    background-color: yellow !important;    }
  .bg-red {
      background-color: orange !important;
    }
  .fill-75 {width: 75%} 
  .fill-70 {width: 70%} 
  
  hr.solid {
    border-top: 3px solid #bbb;
  }
  footer {
    background-color: #96c4d1;
    text-align: center;
    padding: 20px;
    color: #287784;
  }

  /* home-image */

  .home-row, .row-image-gallery {
    display: flex;
    flex-direction: row;
  }

.profile-image {
    width: 400px;
    height: 400px;
    border-radius: 50%;
}


  #aboutme-left {
    width: 60%;
  }

  #aboutme-right {
    margin-left: 10%;
    width: 40%;
  }
  .col-count-2 {
    column-count: 2;
    column-rule: 0.5px solid lightgray;


  }
  
@media screen and (max-width: 992px) {
    
  .home-row, .row-image-gallery {
        display: flex;
        flex-direction: column;
    }
  .home-image {
    width: 100%;
  }
  .profile-image {
    width: 400px;
    height: 400px;
    border-radius: 50%;
  }

  #aboutme-left {
    width: 100%;
  }

  #aboutme-right {
    margin-top: 30px;
    margin-left: 25%;
    width: 100%;
  }
  #certificate 
     {
      width: 100%;
      text-align: center;
    }
  
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-count-2 {
        column-count: 1;
    
      }
  .profile-image {
    width: 100%;
  }
  #aboutme-left {
    width: 100%;
  }

  #aboutme-right {
    width: 100%;
  }
 .bg-yellow {
  background-color: yellow;
  }
  .bg-red {
    background-color: red;
  }
}

/* Image Gallery for Certificates*/
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; 
}

figure {
  position: relative;
  overflow: hidden;
}

figure img {
  width: 50%; 
  height: auto;
  transition: transform 0.5s ease;
}

figure:hover img {
  transform: scale(1.1);
}

figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 53%;
  background-color: rgba(0, 0, 0, 0.7); 
  color: white;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.5s ease;
  text-align: center;
}

figure:hover figcaption {
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; 
  }
  
  figure {
    position: relative;
    overflow: hidden;
  }
  
  figure img {
    width: 50%; 
    height: auto;
    transition: transform 0.5s ease;
  }
  
  figure:hover img {
    transform: scale(1.1);
  }
  
  figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 53%;
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.5s ease;
    text-align: center;
  }
  
  figure:hover figcaption {
    opacity: 1;
  }
}

/* From */
.form {
  text-align: center;
  width: 50%;
  max-width: var(--fixed-width);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}
.form-label {
  display: block;
  font-size: var(--smallText);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
.form-input, .form-textarea {
  width: 50%;
  padding: 0.375rem 0.75rem;
  background: #96c4d1;
  border: 1px solid #96c4d1;
  border-radius: 10px;
}
.form-row {
  margin-bottom: 1rem;
}
.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-3);
}

@media screen and (max-width: 600px) {
  .form {
    text-align: center;
    width: 50%;
    max-width: var(--fixed-width);
    border-radius: var(--borderRadius);
    box-shadow: var(--shadow);
    padding: 2rem 2.5rem;
    margin: 3rem auto;
  }
  .form-label {
    display: block;
    font-size: var(--smallText);
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
  }
  .form-input, .form-textarea {
    width: 50%;
    padding: 0.375rem 0.75rem;
    background: #96c4d1;
    border: 1px solid #96c4d1;
    border-radius: 10px;
  }
  .form-row {
    margin-bottom: 1rem;
  }
  .form-textarea {
    height: 7rem;
  }
  ::placeholder {
    font-family: inherit;
    color: var(--grey-3);
  }
}


summary{
  margin-left: 40px;
}

#button-resume{
  margin-top: 40px;
  margin-left: 42%;
}
